.container-about {
  margin: 5rem auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  color: #8b949e;
}

.about-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.about-left {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.about-right {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 1rem;
  align-items: flex-end;
  margin: 0;
}

.about-right img {
  border-radius: 100%;
  width: 100%;
  max-width: 150px;
  height: auto;
  /* filter: grayscale(100%); */
}

.purple-text.name {
  font-style: none;
}

@media (max-width: 425px) {
  .about-left {
    padding: 20px;
    text-align: left;
    max-width: 100%;
  }

  .container-about {
    display: block;
  }

  .about-right {
    padding: 20px;
    margin: 0;
  }
}