.container-footer {
  padding: 5rem 0;
  color: #8b949e;
  text-align: center;
}

.footer-icons {
  padding: 2rem 0;
}

.footer-linkedin {
  padding: 1rem 0;
}

.footer-github {
  padding: 1rem 0;
}

.footer-email {
  padding: 1rem 0;
}