.ptitle {
  padding: 4rem 0; 
  text-align: center;
}

.pcard {
  background-color: transparent !important;
  max-width: 350px;
  border: 1px solid #8b949e;
}

.pcard-title {
  margin: 0.5rem 0;
}

.pcard-link {
  font-weight: bold;
}

@media (max-width: 425px) {
  .pcard {
    background-color: transparent !important;
    height: 225px;
    border: 1px solid #8b949e;
  }

  .grid {
    align-items: center;
    justify-content: center;
  }
}